<h1>Questions and Answers Message Board</h1>

<ol>
  {{#each model as |message|}}
  {{message-tile message=message update="update" destroyMessage="destroyMessage"}}
  {{/each}}
</ol>

{{new-message saveMessage2="saveMessage3"}}
