<h1>Questions and Answers Message Board</h1>

<hr>

<h3>Arsenal Trivia Question & Answers</h3>

<ol>
  {{#each model as |message|}}
  {{message-tile message=message}}
  {{/each}}
</ol>

<ul>
  {{#each message.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

{{new-message saveMessage2="saveMessage3"}}
