<h1>Questions and Answers Message Board</h1>

<hr>

<h3>Arsenal Trivia Question & Answers</h3>

<ol>
  {{#each model as |message|}}
  {{message-tile message=message}} {{message-popularity message}} {{display-favorites}}
  {{/each}}
</ol>

{{new-message saveMessage2="saveMessage3"}}
