<div class="jumbotron">
  {{message-detail message=model destroyMessage="destroyMessage" destroyAnswer="destroyAnswer"}}
  {{update-message message=model update="update"}}
  {{new-answer saveAnswer="saveAnswer" message=model}}

</div>
